# Python bytecode files
__pycache__/
*.py[cod]

# Robot Framework output files
output.xml
log.html
report.html

# Geckodriver logs
geckodriver-*.log

# VSCode settings
.vscode/

# Screenshots
screenshots/

# Pytest cache
.pytest_cache/