# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Robot Framework log files
output.xml
log.html
report.html

# Unit test cache
*.pytest_cache/
*.coverage

# Screenshots
screenshots/

# Environment files
.env
.venv/
*.env

# VS Code settings (optional)
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db